/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 62.5%;
  height: 100%;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-size: 1.8rem;
  background-color: #4FA047;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body .error {
  color: red;
  text-align: center;
}
body .indexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .indexContainer img {
  width: 31rem;
}
body .indexContainer a {
  text-decoration: none;
}
body .indexContainer a h1 {
  font-family: "Lobster Two", cursive;
  color: #FFFFFF;
  font-weight: lighter;
  text-align: center;
  animation-name: pulsation;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

body {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 1rem;
}
body header img {
  width: 100px;
}
body header h1 {
  flex-wrap: wrap;
  font-family: "Lobster Two", cursive;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 3.2rem;
  align-self: center;
  text-align: center;
}
body .container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: auto;
  padding: 1.5rem;
  border-radius: 10px;
  font-family: "Inconsolata", monospace;
  color: #4FA047;
  font-size: 2rem;
  justify-content: flex-start;
}
body .container p {
  margin: 1rem 0;
}
body .container form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  align-items: center;
}
body .container form .form-group {
  align-items: center;
  margin: 1rem 0;
}
body .container form .form-group input {
  margin: 0.5rem 0;
  text-decoration: none;
  text-align: center;
  height: 3.5rem;
  width: 25rem;
  border-radius: 10px;
  border: solid 2px #4FA047;
  outline-style: none;
}
body .container form .form-group input ::placeholder {
  text-align: center;
}
body .container form .form-group input:focus {
  border: 2px solid #E1A725;
  border-radius: 10px;
}
body .container form input[type=submit] {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-color: inherit;
  border: solid 2px #00959D;
  background-color: #00959D;
  color: #FFFFFF;
}
body .container form input[type=submit]:hover {
  background-color: #E1A725;
  border: solid 2px #E1A725;
}
body .container p .signIn {
  color: #00959D;
  margin: 0;
}
body footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body footer img {
  max-width: 12rem;
}
body footer .idCreator {
  flex-direction: column;
  font-family: "Inconsolata", monospace;
  color: #FFFFFF;
}
body footer .idCreator p {
  font-size: 1.6rem;
}
body footer .idCreator a {
  text-decoration: none;
  font-size: 2rem;
  color: #394E64;
}

.info-error {
  color: red;
}

body header a {
  height: 12.5rem;
}

.container {
  display: flex;
}
.container .new-btn {
  text-decoration: none;
  align-self: center;
  padding: 0.5rem;
  background-color: #00959D;
  color: #FFFFFF;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  border: solid #00959D;
  height: 2.5rem;
  margin: 3.5rem;
  width: 16rem;
}
.container .new-btn:hover {
  border: solid #E1A725;
  background-color: #E1A725;
}
.container .btn-category {
  display: flex;
  margin: 1rem 0;
  align-self: center;
  justify-content: center;
  width: 90%;
}
.container .img_outil {
  border-radius: 10px;
  border: 2px solid #4FA047;
  width: 90%;
}
.container .img_outil:hover {
  border-color: #E1A725;
}
.container .img_graine {
  border-radius: 10px;
  border: 2px solid #4FA047;
  width: 90%;
}
.container .img_graine:hover {
  border-color: #E1A725;
}
.container .img_plant {
  border-radius: 10px;
  border: 2px solid #4FA047;
  width: 90%;
}
.container .img_plant:hover {
  border-color: #E1A725;
}

.btns {
  display: flex;
  justify-content: space-between;
  font-family: "Inconsolata", monospace;
  font-size: 1.6rem;
  padding: 0 0.5rem;
}
.btns .btn-back {
  color: #FFFFFF;
}
.btns .btn-logout {
  color: #FFFFFF;
}

body main .container .item {
  display: flex;
  flex-direction: column;
}
body main .container .item .item-img {
  align-self: center;
}
body main .container .item .item-img img {
  max-height: 20rem;
  max-width: 20rem;
  border-radius: 10px;
  border: 2px solid #4FA047;
}
body main .container .item .item-description {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-size: 1.8rem;
}
body main .container .item .item-description p {
  margin: 0;
}
body main .container .item .item-description p span {
  color: #00959D;
  font-weight: bold;
}
body main .container .item .delete {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  justify-content: flex-end;
}
body main .container .item .delete .btn-hidden {
  display: none;
}
body main .container .item .delete .btn-delete {
  width: 10%;
  padding: 0;
  background-color: #E1A725;
  border: 2px solid #E1A725;
}

@media screen and (min-width: 751px) and (max-width: 1300px) {
  body {
    align-items: center;
    justify-content: center;
  }
  body header {
    width: 50%;
  }
  body main {
    width: 50%;
  }
  body .btns {
    width: 50%;
  }
  body footer {
    width: 50%;
  }
  body footer .idCreator a {
    color: #394E64;
  }
}
@media screen and (min-width: 1301px) {
  body {
    align-items: center;
  }
  body header {
    width: 20%;
  }
  body main {
    width: 20%;
  }
  body .btns {
    width: 20%;
  }
  body .btns a:hover {
    color: #394E64;
  }
  body footer {
    width: 20%;
  }
  body footer .idCreator a {
    color: inherit;
  }
  body footer a:hover {
    color: #394E64;
  }
}

/*# sourceMappingURL=main.css.map */
