.new-btn{
    text-decoration: none;
    padding: 0.5rem;
    background-color: $btn-primaryColor;
    color: $secondaryColor;
    text-align: center;
    font-size: 2rem;
    border-radius: $borderRadius;
    height: 2.5rem;
    
    width: 16rem;
}