// Colors 

$primaryColor : #4FA047;
$secondaryColor : #FFFFFF;
$btn-primaryColor : #00959D;
$btn-secondaryColor: #E1A725;
$btn-deleteColor: #394E64;

// Fonts 

$titleFont: 'Lobster Two', cursive;
$textFont: 'Inconsolata', monospace;

// Div styles 

$borderRadius : 10px;

// header 

$headerImgWidth: 100px;

// footer 

$footerImgHight: 100px;